################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/UntitledBulletHellGameVS.vcxproj.user
/Code/UntitledBulletHellGameVS.vcxproj.filters
/Code/UntitledBulletHellGameVS.vcxproj
/Code/UntitledBulletHellGameVS.sln
/Code/.vs/
/Code/x64/Debug
