################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Code/.vs/
/Code/x64/Debug
/Code/x64/Release
